header {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.go {
    margin: 10px;
}

.resturant {
    height: 200px;
    width: 500px;
    background-color: rgb(150, 101, 40);
}

#map {
    background-color: bisque;
    height: 200px;
    width: 300px;
    
}

/* reviews {
    margin: px;
    color: rgb(7, 165, 113);
    height: 200px;
} */

.container {
    justify-content: space-between;
}