header {
    display: flex;
    justify-content: center;
    margin: 10px;
}

/* section {
    background-color: rgb(178, 221, 208);
    height: 200px;
    margin: 10px;
} */

.resturant {
    height: 200px;
    background-color: rgb(150, 101, 40);
}

.map {
    background-color: bisque;
    justify-content: end;
}

/* reviews {
    margin: px;
    color: rgb(7, 165, 113);
    height: 200px;
} */

.container {
    justify-content: space-between;
}