header {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#home{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 30px;
    margin-left: 60px;
    text-decoration: none;
    color: black;

}

img{
    object-fit: contain;
    max-height: 500px;
}

.go {
    margin: 10px;
}

.resturant {
    height: 500px;
    width: 500px;
    background-color: rgb(150, 101, 40);
}

.container {
    justify-content: space-between;
}

.contact{
    text-align: center;
}

#map {
    background-color: bisque;
    justify-content: center;
    height: 500px;
}

/* reviews {
    margin: px;
    color: rgb(7, 165, 113);
    height: 200px;
} */