* {
  font-family: "DM Sans", sans-serif, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Verdana;
}

:root {
  --red: var (#ba181b);
  --dark-red: var (#660708);
  --grey: var (#d3d3d3);
  --charcoal: var (#161a1d);
  --light-grey: var (#f5f3f4);
}

#landing {
  margin: 40px;
  padding: 25px;
  text-align: center;
}

form {
  padding: 17px;
}

button {
  background-color: var(--red);
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

#content {
  border-color: var(--charcoal);
}

#text {
  margin: 20px;
}

h1 {
  font-size: 50px;
  padding: 20px;
  margin: 20px;
}

p {
  font-size: 17px;
}

button:hover {
  background-color: red;
  color: white;
  transition-duration: 0.4s;
}

input {
  margin: 7px 0px;
}

input:hover {
  cursor: pointer;
}

label {
  margin: 7px;
  padding: 12px;
}

*[data-state="hidden"]{
  display: none;
}

*[data-state="visible"]{
  display: block;
}
