* {
  font-family: "DM Sans", sans-serif, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Verdana;
}

*[data-state="hidden"] {
  display: none;
}

*[data-state="visible"] {
  display: block;
}

body {
  margin: 45px;
  max-width: 100%;
  background-color: white;
}

header p {
  color: #fb3c43;
}

button[disabled]{
  background-color: gray;
}

form {
  padding: 21px;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  font-weight: bold;
}


p {
  position: relative;
  font-size: 25px;
  color: black;
  margin: 0px 10px 20px 10px;
  padding: 10px;
  border-radius: 10px;
}

form {
  max-width: 600px;
}


input:hover {
  cursor: pointer;
}

label {
  display: inline-block;
  margin: 7px;
  padding: 12px;
  font-size: 24px;
  color: var(--grey);
  text-align: center;
  width: 20%;
  position: relative;
}

.form-control {
  width: 25%;
}

.card {
  max-height: 400px;
  height: 400px;
}

.card div {
  max-width: 100%;
  max-height: 100%;
}

.card div div {
  max-width: 100%;
  max-height: 100%;
}

.card div div img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#landing {
  margin: 40px;
  padding: 25px;
  text-align: center;
}

#preferences-content {
  font-size: 35px;
  color: black;
}

#preferences-content form {
  margin: auto;
}

#text {
  margin: 20px;
}

/* #questionnaire-submit {
  border: none;
  color: black;
  background-color: #fb3c43;
  border-radius: 10px;
  margin: 30px;
  padding: 7px;
}

#questionnaire-submit:hover {
  transition-duration: 0.4s;
  transform: scale(1.1);
  color: white;
  background-color: var(--red);
} */


